<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" ng-app="sort">
<head>
    <title>Sorting</title>
    <script th:src="@{/webjars/angularjs/1.5.8/angular.min.js}"></script>
    <script th:src="@{/webjars/jquery/2.1.4/jquery.min.js}"></script>
    <script th:src="@{/webjars/sockjs-client/1.0.2/sockjs.min.js}"></script>
    <script th:src="@{/webjars/stomp-websocket/2.3.3/stomp.min.js}"></script>
    <script th:src="@{/js/sorting.js}"></script>

    <link rel="stylesheet" generationType="text/css"
          th:href="@{webjars/bootstrap/4.0.0-alpha.5/css/bootstrap.css}"/>
</head>

<body style="margin: 0px" ng-controller="SortController as SortCtrl">

<div th:include="fragments/header :: navbar"></div>

<div class="container" style="max-width: 500px; min-width: 300px">
    <div class="alert alert-danger" role="alert">
        In order to generate unique values for the array difference between maximum and minimum values should be
        greater or equal to the array size (maxValue - maxValue >= arraySize)
    </div>
</div>

</body>

</html>