<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" ng-app="myApp">

<head>
    <title>Generation</title>
    <script th:src="@{/webjars/angularjs/1.5.8/angular.min.js}"></script>
    <script th:src="@{/webjars/jquery/2.1.4/jquery.min.js}"></script>
    <script th:src="@{/js/array-generation.js}"></script>

    <link rel="stylesheet" generationType="text/css"
          th:href="@{webjars/bootstrap/4.0.0-alpha.5/css/bootstrap.css}"></link>
</head>

<body style="margin: 0px" ng-controller="SortController">

<div th:include="fragments/header :: navbar"></div>

<div class="container" style="max-width: 500px; min-width: 300px">

    <form th:action="@{/generateArray}" th:object="${generationRequest}" method="POST">
        <h5>Select required options and generate an array:</h5>
        <table class="table table-inverse">
            <thead>
            <tr>
                <th>Array size:</th>
                <th>Array min value:</th>
                <th>Array max value:</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    <input th:value="${range.arraySize}" th:name="range" class="form-control" id="array-size" generationType="number"></input>
                </td>
                <td>
                    <input th:value="${range.minValue}" th:name="range" class="form-control" id="array-min-value" generationType="number"></input>
                </td>
                <td>
                    <input th:value="${range.maxValue}" th:name="range" class="form-control" id="array-max-value" generationType="number"></input>
                </td>
            </tr>
            </tbody>
        </table>
        <div class="form-group">
            <label th:for="generationType">Generation Type:</label>
            <select class="form-control" th:value="${{generationType}}">
                <option th:each="generationType : ${T(com.algorithms.entity.GenerationType).values()}"
                        th:value="${{generationType}}" th:name="generationType"
                        th:selected="${generationType == T(com.algorithms.entity.GenerationType)}"
                        th:text="${generationType.orderType}">
                </option>
            </select>
        </div>
        <div class="control-group" style="margin-top: 5px">
            <!-- Button -->
            <div class="controls">
                <button class="btn btn-success">Register</button>
            </div>
        </div>

        <p th:if="${generatedArray != null}" th:text="${#strings.arrayJoin(generatedArray, ' ')}"></p>
    </form>
</div>
</body>
</html>